<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>Welcome to CSE Motors!</h1>

        <img src="./public/images/vehicles/delorean.jpg" alt="Picture of the Delorean car">
        <figure>
            <h2>DMC Delorean</h2>
            <p>3 Cup holder</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
        </figure>

        <figure>
            <h2>Delorean Upgrades</h2>

        </figure>

        <figure>
            <h2>DMC Delorean Reviews</h2>
            <ul class="review">
                <li>"So fast it's almost traveling in time.(4/5)"</li>
                <li>"Coolest ride on the road (4/5)</li>
                <li>"I'm felling McFly!"(4.5/5)</li>
                <li>"80's livin and I love it!"(5/5)</li>
            </ul>

        </figure>

    </main>
</body>

</html>